@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root{
  --main-primary:#719192;
  --main-secondary:#f3f3f3;
  --main-teritiary:#494949;
}
::-webkit-scrollbar{
  width:5px;
}
::-webkit-scrollbar-thumb{
  width:5px;
  background: var(--main-primary);
}
*{
  font-family: 'Roboto', sans-serif;
  color: var(--main-secondary);
  transition: all 0.2s ease;
}
body{
  margin:0;
}
.nav-home{
  background:none;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 2;
}
.nav-home .container{
  width:80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-home .container .logo-holder{
  padding: 14px 16px;
}
.nav-home span .logo{
  width:200px;
  height: auto;
}
.nav-home span ul{
  list-style-type: none;
}
.nav-home span ul li{
  display: inline;
  margin:0 6px;
  font-size:27px;
  color: var(--main-secondary);
  cursor: pointer;
  padding:8px 14px;
  border:2px solid var(--main-secondary);
  border-radius: 100px;
}
.nav-home span ul li:hover{
  border:2px solid var(--main-teritiary);
  color: var(--main-secondary);
  background: var(--main-teritiary);
}
header{
  min-height: 100vh;
  position: relative;
}
header .abs-over{
  display: flex;
  justify-content: flex-end;
  align-items:center;
  background:var(--main-primary);
}
header .abs-over form{
  background: var(--main-secondary);
  min-height:400px;
  width:300px;
  margin-right: 50px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
}
header form .form-group h1{
  color: var(--main-teritiary);
  font-weight: 100;
  text-align: center;
}
.title-main-att{
  position: absolute;
  left:20px;
  top:calc(50% - 80px);
  left:50px;
  text-shadow: 0 0 13px black;
}
.title-main-att h2{
  font-size: 80px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 100;
}
.title-main-att p{
  font-size: 21px;
}
header form .form-group{
  margin:10px;
}
header form .form-group input{
  width: 250px;
  border:3px solid var(--main-primary);
  border-radius: 5px;
  height:30px;
  padding: 0 5px;
  outline:none;
  color: var(--main-teritiary);
  font-size: 21px;
}
header form .form-group input::placeholder{
  color:var(--main-teritiary);
}
.form-group input:focus{
  border: 3px solid var(--main-teritiary);
}
header form .form-group button{
  color: var(--main-secondary);
  width:200px;
  padding:16px 18px;
  background: var(--main-primary);
  border: none;
  border-radius: 100px;
  font-size: 18px;
  cursor: pointer;
}
header form .form-group button:hover{
  background: var(--main-teritiary);
}
header .abs-over{
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom: 0;
}
.bgvideo-holder{
  height: 100vh;
  width:100vw;
  overflow: hidden;
}
.bgvideo-holder video{
  width: 100vw;
}
@media screen and (max-width:1094px){
  header .abs-over{
    background: #494949!important;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  header .abs-over span{
    position: relative;
    margin-block-start: 5em;
    left:0;
  }
  .title-main-att {
    padding:20px;
  }
  .title-main-att h2{
    font-size: 8vw;
    margin:0 auto;
    text-align: center;
  }
  header .abs-over form{
    position: relative;
    margin:0;
  }
  .bgvideo-holder{
    display: none;
  }
}
@media screen and (max-width:600px){

  /*Form*/

  header form .form-group{
    margin:0px;
    margin-bottom:5px;
  }
  header form .form-group input{
    width:300px;
  }
  header form .form-group button{
    width:250px;
  }
  header form .form-group button:hover{
    background: var(--main-teritiary);
  }
  header .abs-over form{
    width:100vw;
    border-radius: 0;
    box-shadow:none;
  }
}
.wp-user{
  background: url(extras/abstract-abstract-expressionism-abstract-painting-3012724.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;;
  align-items: center;
  padding:90px;
}
.white-paper{
  width:60vw;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0 10px 20px -10px black;
  padding:20px;
}
.white-paper .mains .note-title{
  width: calc(100%);
  font-size:25px;
  color:var(--main-teritiary);
  outline: none;
  border:2px solid transparent;
}
.white-paper .mains .note-title:hover, .white-paper .mains .note-title:focus, .white-paper .mains .note-title:active{
  border:2px solid var(--main-primary);
}
.white-paper .mains input::placeholder, .white-paper .mains textarea::placeholder{
  color:var(--main-primary);
}
.white-paper .mains input{
  color:var(--main-primary);
}
.white-paper .mains .datetime{
  border: 2px solid transparent;
  font-size:21px;
}
.white-paper .mains .datetime:hover, .white-paper .mains .datetime:focus, .white-paper .mains .datetime:active{
  border:2px solid var(--main-primary);
}
.white-paper .mains .day{
  color:var(--main-primary)!important;
  font-size:21px;
}
.white-paper .mains textarea{
  display: flex;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  font-size:21px;
  outline:0;
  border:0;
  color:var(--main-teritiary);
  min-height: 100vh;
  resize:none;
}
.white-paper .mains .child{
  margin: 5px;
}
@media screen and (max-width:600px){
  .white-paper{
    width:100vw;
  }
  .wp-user{
    padding:0;
  }
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.button-save{
  color: var(--main-secondary);
  background: var(--main-primary);
  border:none;
  padding:14px 16px;
  font-size: 21px;
  width: 100%;
  cursor: pointer;
}
.button-save:hover{
  background: var(--main-teritiary);
}
@keyframes expand-in{
  from{transform: scale(0)}to{transform: scale(1)}
}
.initial-intro{
  animation: expand-in .3s linear;
  background-color: var(--main-primary);
  padding:14px 50px;
  text-align: center;
  min-width:300px;
  min-height:150px;
  max-width:400px;
  border-radius: 14px;
  position: fixed;
  top:calc(40% - 60px);
  left:calc(50% - 250px);
  box-shadow: 0 6px 20px -13px black;
  display: none;
}
.initial-intro h1, .initial-intro h2{
  color:var(--main-secondary);
  font-weight: 100;
}
button{
  color:var(--main-secondary);
  background: var(--main-teritiary);
  padding:15px 18px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100px;
  border:2px solid var(--main-primary);
}
button:hover{
  background:var(--main-secondary);
  color:var(--main-teritiary);
  outline: none;
}
.user-page{
  display: flex;
  justify-content: stretch;
  align-items:stretch;
  position: relative;
}
.user-page .side-nav-user{
  --nav-side-width:200px;
  width:var(--nav-side-width);
  background:var(--main-primary);
  position:sticky;
  top:0;
  bottom:0;
  overflow-y: auto;
}
.user-page .main-userlg{
  background: var(--main-secondary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  position: relative;
}
.tools-bars-dp{
  padding:20px 0;
  background:var(--main-teritiary);
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-block-end:10px;
  position: fixed;
  height: 50px;
  top: 0;
  right: 0;
  box-shadow:0 8px 18px -13px rgba(0,0,0,0.6);
  left:200px;
}
#search-table{
  border-radius: 100px;
  background:var(--main-secondary);
  color: var(--main-primary);
  padding:20px;
  font-size:24px;
  border: none;
  outline:none;
  height:53px;
  width:350px;
}
.tools-bars-dp > *{
  margin:4px;
  box-shadow:0 8px 14px -12px #333, 0 4px 20px -12px #033;
}
.tools-bars-dp > *:hover{
  box-shadow: 0 7px 20px -6px rgba(0,0,0,0.6);
}
.tools-bars-dp button{
  background:var(--main-primary);
  color:var(--main-secondary);
}
.tools-bars-dp button i{
  color: var(--main-secondary);
}
.side-nav-user .logo{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--main-teritiary);
    position: relative;
}
.side-nav-user .toggle-nav{
  position: absolute;
  top:0;
  right: 0;
  bottom:0;
  left:0;
  background: rgba(0,0,0,0.9);
  color:var(--main-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  display: none;
}
.side-nav-user .toggle-nav i{
  margin-right: 6px;
  font-size: 30px;
}
.side-nav-user .logo:hover .toggle-nav{
  display: flex;
  cursor:pointer;
}
.side-nav-user .logo img{
  width: 98%;
  margin:0 auto;
  height: auto;
}
.side-nav-user ul{
  list-style-type: none;
  padding-inline-start:0px;
  margin-block-start:0;
  margin-block-end:0;
}
.side-nav-user ul li{
  padding:16px 14px;
  background: var(--main-teritiary);
  color: var(--main-secondary);
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  align-items: center;
  text-align:left;
}
.side-nav-user ul .active-link{
  color: var(--main-teritiary);
  background: var(--main-secondary);
}
.side-nav-user ul .active-link i, .side-nav-user ul .active-link .nav-links-expanded{
  color: var(--main-teritiary);
}
.side-nav-user .cats{
  border-radius:0px;
  display: block;
  display: flex;
  justify-content:flex-start;
  flex-direction: row;
  align-items: center;
  text-align:left;
}
.side-nav-user .cats ol{
  list-style-type: none;
  padding-inline-start:0px;
  display: none;
}
.side-nav-user .catsdp{
  display: block;
}
.side-nav-user .cats li{
}
.side-nav-user .catsdp ol{
  display: block;
  user-select: none;
}
.side-nav-user .cats ol li i{
  font-size:18px;
  margin:2px;
}
.cats{
  position: relative;
}
.side-nav-user .bottom-drop{
  font-size:27px;
  position:absolute;
  right:5px;
  top:10px;
}
.side-nav-user li{
  cursor:pointer;
}
.side-nav-user li:hover{
  color: var(--main-teritiary);
  background: var(--main-secondary);
}
.side-nav-user li:hover .nav-links-expanded{
  color: var(--main-teritiary);
}
.side-nav-user li:hover i{
  color: var(--main-teritiary);
}
.side-nav-user .cats ol li:hover{
  color: var(--main-secondary);
  background: var(--main-primary);
}
.diaryposts{
  padding:50px;
  padding-top:100px;
  display: none;
}
.diaryposts table{
  border-spacing: 0px;
}
.diaryposts table th{
  width:300px;
}
.diaryposts table thead{
    background: var(--main-primary);
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    border:1px solid #000;
}
.diaryposts table th, .diaryposts table td{
  padding:16px 14px;
  font-size: 21px
}
.diaryposts thead tr th{
  color: var(--main-secondary)!important;
  font-weight: normal;
  text-decoration-style: wavy;
}
.diaryposts tbody tr{
  background: var(--main-teritiary);
}
.diaryposts tbody tr td{
  color: var(--main-secondary)!important;
  cursor: pointer;
}
.diaryposts tbody tr:hover{
  opacity:0.9;
}
.side-nav-user ul li i{
  font-size:27px;
  margin: 5px;
  width: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-userlg div h1{
  color: var(--main-teritiary);
}
.main-userlg > div{
  display: none;
}
.section-active{
  display: flex!important;
}
